
@import url(./reset.css) ;


.container {
  display:flex;
  flex-direction: column;
  min-height: 57vh;
  max-width: 130vh;
  background-color:rgb(216, 213, 213) ;
  font-family: "Oswald", sans-serif;
  margin :0 auto;
} 
h1 {
  margin-left: 4.5rem ;
  margin-top: 2rem ;
  font-size: 2rem ;
  margin-bottom: 2rem;
}

  .menu{
    display: flex;
    margin-top: 1rem;
    margin-left: 4rem ;
  }



.menu__item {
  background-color: rgb(30, 89, 98);
  color: white;
  padding: 0.5rem 1rem;  }

  .main-flex{
    display:flex ;
    justify-content: space-between;
    gap:1rem ;
    margin-top:2rem ;
    margin-left :1rem;
    
    
    
  }
/*.item1{
  display: block;
  align-items:flex-start;
} */

 .item2{
  display:flex ;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  
 }


h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-left:1rem ;
  }
  p {
    display:inline-block ;
    margin-top:1rem ;
  }
  .btn{
  background-color: rgb(30, 89, 98);
  color: white;
  padding: 0.5rem 3rem;
  text-align: center;
  }
  .img-flex{
   display:flex ;
   flex-wrap: wrap;
  gap: 2rem;
   
    
  }
.flex__item{
  flex-grow:1 ;
  flex-basis: 225px;
  margin-top: 2rem;
  margin-bottom:1rem;
  margin-left:1rem;
  margin-right: 1rem;
}
.flex__item h3{
  margin-top: 0.5rem;
  text-align: center;


}
.footer-flex{
  display:flex ;
  background-color:rgb(185, 53, 53) ;
  justify-content: center;
}

footer p {
  color: white;
  font-size: 23px;
  margin-bottom: 1rem;
  margin-top: 3rem; 
 
}
footer button{
  width:15rem ; 
  display:flex ;
  
}
.flexitem__footer{
  display:flex ;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5rem ;
   }
   /*.item2 p {
    width:100px
   }/*